@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Outfit", sans-serif;
  flex-direction: column;
  height: calc(100vh - 1px);
  margin: 1.25rem;
}
.main__container {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 15px 16px rgb(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.main__container h2 {
  margin: 1rem 0;
  color: var(--dark-blue);
}
.main__container p {
  color: var(--grayish-blue);
}
.main__container img {
  border-radius: 0.5rem;
  max-width: 100%;
}

@media (min-width: 500px) {
  .main__container {
    width: 400px;
  }
}
